---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: false
---

{% include base_path %}

{% for post in site.projects reversed %}
  {% include archive-single.html %}
{% endfor %}



<div style = "position:absolute; left:150px; top:300px; width: 300px">
	<img src="/images/attentivereuse.PNG" alt="Italian Trulli" align="left">
</div>


<div style = "position:absolute; left:150px; top:800px; width: 300px">
	<img src="/images/attentivereuse.PNG" alt="Italian Trulli" align="left">
</div>


<div style = "position:absolute; left:150px; top:1300px; width: 300px">
	<img src="/images/attentivereuse.PNG" alt="Italian Trulli" align="left">
</div>


<div style = "position:absolute; left:150px; top:1800px; width: 300px">
	<img src="/images/beosim.png" alt="Italian Trulli" align="left">
</div>


<div style = "position:absolute; left:150px; top:2300px; width: 300px">
	<img src="/images/beaglebone-blue.jpeg" alt="Italian Trulli" align="left">
</div>