---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: false
---

{% include base_path %}

{% for post in site.projects reversed %}
  {% include archive-single.html %}
{% endfor %}



<div style = "position:absolute; left:150px; top:250px; width: 300px">
	<img src="/images/shell_rl.png" alt="Italian Trulli" align="left">
</div>


<div style = "position:absolute; left:150px; top:550px; width: 300px">
	<img src="/images/robust_unet.png" alt="Italian Trulli" align="left">
</div>


<div style = "position:absolute; left:150px; top:800px; width: 300px">
	<img src="/images/multi_entity.png" alt="Italian Trulli" align="left">
</div>


<div style = "position:absolute; left:150px; top:1000px; width: 300px">
	<img src="/images/visualinertial_slam.jpg" alt="Italian Trulli" align="left">
</div>


<div style = "position:absolute; left:150px; top:1300px; width: 300px">
	<img src="/images/beosim.png" alt="Italian Trulli" align="left">
</div>


<div style = "position:absolute; left:150px; top:1500px; width: 300px">
	<img src="/images/beaglebone-blue.jpeg" alt="Italian Trulli" align="left">
</div>