---
layout: archive
title: "Selected Publications"
permalink: /publications/
author_profile: false
---


{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}


<div style = "position:absolute; left:150px; top:200px; width: 300px">
	<img src="/images/shapesearch.PNG" alt="shapesearch" align="left">
</div>


<div style = "position:absolute; left:150px; top:500px; width: 300px">
	<img src="/images/superclass_imagenet.png" alt="superclass_imagenet" align="left">
</div>


<div style = "position:absolute; left:150px; top:800px; width: 300px">
	<img src="/images/attentivereuse.PNG" alt="attentivereuse" align="left">
</div>


<div style = "position:absolute; left:150px; top:1100px; width: 300px">
	<img src="/images/shkill.png" alt="shkill" align="left">
</div>

<div style = "position:absolute; left:150px; top:1400px; width: 300px">
	<img src="/images/dataset.PNG" alt="dataset" align="left">
</div>


<div style = "position:absolute; left:150px; top:1700px; width: 300px">
	<img src="/images/sim2real.PNG" alt="sim2real" align="left">
</div>


<div style = "position:absolute; left:150px; top:2000px; width: 300px">
	<img src="/images/acc_aug_quad.png" alt="acc_aug_quad" align="left">
</div>


<div style = "position:absolute; left:150px; top:2300px; width: 300px">
	<img src="/images/metaadapt.PNG" alt="metaadapt" align="left">
</div>