---
layout: archive
title: "Selected Publications"
permalink: /publications/
author_profile: false
---


{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}


<div class="sidebar sticky">


<div style = "position:absolute; left:150px; top:400px; width: 300px">
	<img src="/images/shell_system.png" alt="shkill" align="left">
</div>

<div style = "position:absolute; left:150px; top:800px; width: 300px">
	<img src="/images/dataset.PNG" alt="dataset" align="left">
</div>


<div style = "position:absolute; left:150px; top:1200px; width: 300px">
	<img src="/images/sim2real.PNG" alt="sim2real" align="left">
</div>


<div style = "position:absolute; left:150px; top:1600px; width: 300px">
	<img src="/images/shaped_search.PNG" alt="shapesearch" align="left">
</div>


<div style = "position:absolute; left:150px; top:2000px; width: 300px">
	<img src="/images/misclassified_imagenet.png" alt="superclass_imagenet" align="left">
</div>


<div style = "position:absolute; left:150px; top:2400px; width: 300px">
	<img src="/images/dist_mtml.PNG" alt="attentivereuse" align="left">
</div>


<div style = "position:absolute; left:150px; top:2800px; width: 300px">
	<img src="/images/attfeat_reuse.PNG" alt="attentivereuse" align="left">
</div>


<div style = "position:absolute; left:150px; top:3200px; width: 300px">
	<img src="/images/meta_adaptation.png" alt="metaadapt" align="left">
</div>


<div style = "position:absolute; left:150px; top:3600px; width: 300px">
	<img src="/images/accaug_quad.png" alt="acc_aug_quad" align="left">
</div>

</div>