---
layout: archive
title: "Software"
permalink: /software/
author_profile: false
---


{% include base_path %}
{% for post in site.software reversed %}
  {% include archive-single.html %}
{% endfor %}



<div style = "position:absolute; left:80px; top:200px; width: 300px">
	<img src="/images/attentivereuse.PNG" alt="Italian Trulli" align="left">
</div>

<div style = "position:absolute; left:80px; top:500px; width: 300px">
	<img src="/images/beogym_gif.gif" alt="Italian Trulli" align="left">
</div>


